:not(:defined) {
    visibility: hidden;
}
body,
html {
    min-height: 100vh;
    padding: 0;
    margin: 0;
    --top-offset: calc(var(--design-unit) * 8px);
}
body {
    background-color: var(--fill-color);
    color: var(--neutral-foreground-rest);
    font-family: 'Roboto', sans-serif;
    font-size: var(--type-ramp-base-font-size);
}
